<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Login</title>
<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!-- <style type="text/css">
	body {background-color: powderblue;}
	h1   {color: blue;}
	p    {color: red;}
</style> -->
</head>
<body>
	<h1>Login page</h1>
	<p th:if="${loginError}" class="error">Wrong user or password</p>
	<form th:action="@{/user-validasi}" th:object="${users}" method="get">
		<label for="username">Username</label>: <input type="text" id="username" name="username" autofocus="autofocus" /> <br /> 
		<label for="password">Password</label>: <input type="password" id="password" name="password" /> <br /> 
		<input type="submit" value="Log in" /> <br />
		<a href="/signup/new">Sign Up</a>
	</form>
</body>
</html>
